<link rel="stylesheet" href="application.css"/>
<div>
    <md-sidenav layout="column" 
            class="md-sidenav-left md-whiteframe-z2" 
            md-component-id="left" 
            md-is-locked-open="$mdMedia('gt-md')">
            <md-toolbar color="primary">
                   <span class="mat-menu-item">Buy</span>
                   <span class="mat-menu-item">Rent</span>
                   <span class="mat-menu-item">Sell</span>
                   <span flex></span>
                   <span class="mat-menu-item">Join</span>
            </md-toolbar>
    </md-sidenav>
</div>