html, body { 
  height: 99%;
  width: 99%;
  margin: .5; 
}

.mat-menu-item {
    color: #FFFFFF;
    padding: 1em;
}

.fill-remaining-space {
  flex: 1 1 auto;
}
.logo-image{
  padding-top: 2em;
  padding-bottom: 2em;
  display: block;
  margin: auto;
  width: 30%;
}
.app_container{
  height: 90%;
  width: 95%;
}